.product-management {
    width: 80%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .search-bar {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            flex-grow: 1;
        }

        button {
            padding: 11px 20px;
            font-size: 16px;
            background-color: #1DC483;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #17a669;
            }
        }
    }

    .filter-options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        select {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            cursor: pointer;

            &:focus {
                outline: none;
                border-color: #1DC483;
            }
        }
    }

    .product-list {
        margin-bottom: 20px;

        table {
            width: 100%;
            border-collapse: collapse;

            td,
            th {
                padding: 12px;
                text-align: left;
                border: 1px solid #ddd;
            }

            th {
                background-color: #f4f4f4;
            }

            td {
                &:first-child {
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                img {
                    max-width: 50px;
                    height: auto;
                    border-radius: 5px;
                }
            }

            .action-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .icon-button {
                    border: none;
                    font-size: 1.2em;
                    background: none;
                    cursor: pointer;
                    transition: color 0.3s;
                    padding: 16px 20px;
                }

                .del-button {
                    color: red;

                    &:hover {
                        color: darkred;
                    }
                }

                .edit-button {
                    color: goldenrod;

                    &:hover {
                        color: #b7881b;
                    }
                }

                .management-icon {
                    height: 1.25em;
                    width: 1.25em;
                }

                .status-switch {
                    padding: 0;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #1DC483;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #17a669;
            }

            &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }

        span {
            font-size: 16px;
        }
    }

    .update-frame {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;

        .update-content {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
    }
}
