.rating {
    width: 50%;
    margin-bottom: 100px;
    height: 100%;
    text-align: start;
    display: flex;
    margin-top: 2rem;
    img {
        max-width: 135px;
        max-height: 135px;
        object-fit: cover;
        border-radius: 100px;
    }
    .text {
        color: black;
        margin-left: 1rem;
        padding-right: 40px;
        .ok {
            font-size: 13px;
            padding-bottom: 12px;
            border-bottom: 1px solid #e1e1e1;
        }
    }
}