.update-container {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;

  .update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .update-title {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    .form-close-btn-div {
      .form-close-btn {
        padding: 4px;
      }
    }
  }

  .update-form-scroll {
    overflow-y: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-input-number {
    width: 100%;
  }

  .update-btn {
    background-color: #1DC483;
    border-color: #1DC483;
    padding: 0 !important;

    &:hover, &:focus {
      background-color: #17a669!important;
      border-color: #17a669!important;
    }
  }
}
